.dvprodutos{
    

    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    padding-left:100px ;
    padding-right: 80px;
gap: 20px;
    
   
}

.dv{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
    
}

.dvpro{
    
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}